.sb-button
	{_ff-simple}
	{_fs-medium}
	position center
	display inline-block
	width 40px
	height 40px
	background _c-black
	border-radius 50%

.sb-button-less
	line-height 1.5

.sb-button-more
	line-height 1.45

.is-touch
	.sb-button
		display none
