body
	background _c-dark
	box-shadow 0 0 25px _c-black inset

.scoreboard
	position center
	margin 0 auto
	padding 25px
	width 100%
	text-align center
	color _c-white
	box-sizing border-box

.sb-players
	margin 50px 0 15px
	width 100%
	clearfix()

.sb-player
	float left
	width 50%
