.sb-panel
	{_ff-main}
	{_fs-larger}
	position relative
	display inline-block
	margin 40px auto 15px
	padding 25px 20px 15px 30px
	color _c-success
	background _c-black
	border-radius 5px
	text-shadow 0 0 10px alpha(_c-success, 75%)

	.sb-button
		position center

	.sb-button-less
		margin-left -150px

	.sb-button-more
		margin-left 150px


.sb-panel-small
	{_fs-large}
	padding 10px 10px 5px 15px
	color _c-danger
	text-shadow 0 0 10px alpha(_c-danger, 75%)

	.sb-button-less,
	.sb-button-more
		zoom 0.75

	.sb-button-less
		margin-left -100px

	.sb-button-more
		margin-left 100px
