font-face('Digital', 'digital-counter-7.regular-webfont')

// Families
_ff-main =
	font-family 'Digital', sans-serif
_ff-simple =
	font-family 'MS Sans Serif', Geneva, sans-serif

// Sizes
_fs-small =
	font-size 15px
_fs-medium =
	font-size 25px
_fs-large =
	font-size 50px
_fs-larger =
	font-size 150px

// General
body
	{_ff-simple}

// Styles
.sb-title
	{_ff-main}
	{_fs-large}

.sb-heading
	{_ff-simple}
	{_fs-medium}
	font-weight bold
	text-transform uppercase

.sb-text
	{_ff-simple}
	{_fs-small}
	text-transform uppercase
